{% extends 'base.html.twig' %}

{% block title %}Site Enchere{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container mt-5" >

    <div class="bg-dark text-wrap">
       <h2 class="text-white">Bienvenue sur notre site Enchere</h2>
    </div>
    <div class="jumbotron jumbotron-fluid text-wrap">
        <p>Vous pouvez proposer vos encheres en toute sécurité et les rétirés quand vous voulez</p>
    </div>

</div>
{% endblock %}
